@use "src/assets/css/vars"
.calculator-display
  background: vars.$t1-bg--screen
  width: 100%
  font-size: 32px
  padding: 32px 0
  margin: 24px 0
  display: flex
  justify-content: right
  border-radius: 5px
  color: vars.$t1-text--white
